<div class="call-to-action pt-48 pt-md-24">
    <div class="call-content d-f py-24 mu-md-0 j-c-s-c align-items-c">
        <h4 class="tw-heading-h4 mr-24 fz-md-20">加入會員取得 9 折優惠</h4>
        <a href="login.html" class="tw-label-md button-style bg-c-1 text-c-1">馬上註冊</a>
    </div>
</div>