    <div class="container">
        <header class="header d-f py-16 py-md-12 gap-48">
            <div class="logo">
                <a href="index.html" class="logo-text px-12 py-8">
                    URBNSTEP
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>
                </a>                
            </div>                 
            <nav class="header-nav">
                <ul class="page_link d-f gap-40">
                    <a href="products.html" class="arrow arrow-left tw-label-md py-12 text-c-4"><li>商品列表</li></a>
                    <a href="about.html" class="arrow arrow-right tw-label-md py-12 text-c-4"><li>品牌故事</li></a>
                </ul>
            </nav>
            <div class="member me-a">
                <a href="login.html" class="member-icon p-15">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/></svg>
                </a>
            </div>
        </header>
    </div>    
    <!--RWD page_link-->
    <nav class="header-nav nav-rwd">
        <ul class="page_link d-f gap-40">
            <a href="products.html" class="arrow arrow-left tw-label-md py-12 col-md-2"><li>商品列表</li></a>
            <a href="about.html" class="arrow arrow-right tw-label-md py-12 col-md-2"><li>品牌故事</li></a>
        </ul>
    </nav>