.call-to-action{
    .call-content{
        background-color: $primary-200;
        .button-style{
            &:hover{
                background-color: $neutral-500;
                transition:background-color 1s;
            }
        }
    }
}