/* Display */
.display-1 {
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

.display-2 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

/* Headings */
.tw-heading-h1 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

.tw-heading-h2 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

.tw-heading-h3 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

.tw-heading-h4 {
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

.tw-heading-h5 {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

.tw-heading-h6 {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.05em;
  font-weight: 700; /* Bold */
}

/* Labels */
.tw-label-lg {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 500; /* Medium */
}

.tw-label-md {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 500; /* Medium */
}

.tw-label-sm {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 500; /* Medium */
}

.tw-label-xs {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 500; /* Medium */
}

/* Paragraphs */
.tw-paragraph-lg {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 400; /* Regular */
}

.tw-paragraph-md {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 400; /* Regular */
}

.tw-paragraph-sm {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 400; /* Regular */
}

.tw-paragraph-xs {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.05em;
  font-weight: 400; /* Regular */
}