<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/cdn'); -%>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="hero-section mb-64 md-md-40">      
        <div class="hero-section-ctn">
          <h1 class="display-1 mb-16">URBNSTEP</h1>
          <h3 class="tw-heading-h3 mb-48">Your Step, Your Statement</h3>
          <a href="#" class="tw-label-md d-i-b button-style">立即選購</a>
        </div>        
    </div>
    <div class="container">
        <main class="main">
            <div class="content-title">
                <span class="title display-2 d-b mb-12">New Arrival</span>
                <h2 class="title tw-heading-h2 mb-32">新品上市</h2>
            </div>
            <div class="content-product">
                <ul class="prouct d-f f-w mx--12 mx-md--6">
                    <li class="col-6 px-12 mb-40 px-md-6">
                            <a href="#" class="mb-12"><img src="../assets/images/new-1.png" alt="宣傳照"></a>
                            <h5 class="tw-heading-h5 fz-md-16 mb-4">Monoverse</h5>
                            <span class="tw-label-md">NT$3,600</span>                        
                    </li>
                    <li class="col-6 px-12 mb-40 mb-md-24 px-md-6">
                            <a href="#" class="mb-12"><img src="../assets/images/new-2.png" alt="宣傳照"></a>
                            <h5 class="tw-heading-h5 fz-md-16 mb-4">PLATFORM 404</h5>
                            <span class="tw-label-md">NT$2,600</span>
                    </li>
                    <li class="col-6 px-12 mb-40 mb-md-24 mb-md-24 px-md-6">
                            <a href="#" class="mb-12"><img src="../assets/images/new-3.png" alt="宣傳照"></a>
                            <h5 class="tw-heading-h5 fz-md-16 mb-4">URBN Force</h5>
                            <span class="tw-label-md">NT$3,200</span>
                    </li>
                    <li class="col-6 px-12 mb-40 mb-md-24 px-md-6">
                            <a href="#" class="mb-12"><img src="../assets/images/new-4.png" alt="宣傳照"></a>
                            <h5 class="tw-heading-h5 fz-md-16 mb-4">Mode90</h5>
                            <span class="tw-label-md">NT$4,000</span>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    <div class="container">
        <div class="best-seller my-64">
            <h2 class="title tw-heading-h2 mb-21">熱銷補貨</h2>
            <ul class="card-wrapper d-f text-c-5 owl-carousel owl-theme">
                <li class="card item">
                    <a href="products.html">
                        <img src="../assets/images/product.png" alt="鞋款-1">
                    </a>
                    <spap class="bradge bradge-style tw-label-sm">人氣NO.1</spap>
                </li>
                <li class="card item">
                    <a href="products.html">
                        <img src="../assets/images/product-2.png" alt="鞋款-2">
                    </a>
                    <spap class="bradge bradge-style tw-label-sm">人氣NO.1</spap>
                </li>
                <li class="card item">
                    <a href="products.html">
                        <img src="../assets/images/product-3.png" alt="鞋款-3">
                    </a>
                    <spap class="bradge bradge-style tw-label-sm">人氣NO.1</spap>
                </li>
                <li class="card item">
                    <a href="products.html">
                        <img src="../assets/images/product-4.png" alt="鞋款-4">
                    </a>
                    <spap class="bradge bradge-style tw-label-sm">人氣NO.1</spap>
                </li>
                <li class="card item">
                    <a href="products.html">
                        <img src="../assets/images/product-5.png" alt="鞋款-5">
                    </a>
                    <spap class="bradge bradge-style tw-label-sm">人氣NO.1</spap>
                </li>
                <li class="card item">
                    <a href="products.html">
                        <img src="../assets/images/product-6.png" alt="鞋款-6">
                    </a>
                    <spap class="bradge bradge-style tw-label-sm">人氣NO.1</spap>
                </li>
                <li class="card item">
                    <a href="products.html">
                        <img src="../assets/images/product-7.png" alt="鞋款-7">
                    </a>
                    <spap class="bradge bradge-style tw-label-sm">人氣NO.1</spap>
                </li>
            </ul>
        </div>
    </div>
    <div class="sale my-48">
      <div class="sale-content py-100 py-md-64 text-align-c">
          <div class="sale-content-title mb-16">
              <span class="display-2 text-c-1 d-b-md fz-md-32">URBNSTEP</span>
              <span class="tw-heading-h1 mx-24 my-md-8 text-c-2 d-b-md fz-md-28">x</span>
              <span class="display-2 text-c-1 d-b-md fz-md-32">Kevin Chen</span>
          </div>
          <h2 class="tw-heading-h2 mb-32 mb-md-24 fz-md-20 text-c-1">跨界聯名，限量發售</h2>
          <span class="tw-paragraph-lg d-b d-n-md mb-48 text-c-3">新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！</span>
          <span class="tw-paragraph-lg d-n d-b-md text-c-3">新銳漫畫家 Kevin Chen 親自操刀設計</span>
          <span class="tw-paragraph-lg d-n d-b-md mb-32 text-c-3">街頭能量全面引爆！</span>
          <a href="products.html" class="tw-label-md d-i-b button-style text-c-4">立即搶購</a>
      </div>
    </div>
    <div class="series container">      
      <div class="series-content">
        <h2 class="tw-heading-h2 mb-16">依系列選購</h2>
        <ul class="card-wrapper d-f f-md-w text-c-5 mx--12 mx-md--12">
            <li class="card col-3 col-md-2 mb-md-12">
                <a href="#">
                    <img src="/assets/images/product-6.png" alt="">
                </a>
                <div class="label text-c-1">
                    <span class="tw-heading-h3 fz-md-16 mb-8 d-b text-align-c text-c-1">URBN RUNNER</span>
                    <span class="tw-heading-h4 fz-md-16 mb-8 d-b text-align-c text-c-1">慢跑系列</span>
                </div>                    
            </li>
            <li class="card col-3 col-md-2 mb-md-12">
                <a href="#">
                    <img src="/assets/images/product-11.png" alt="">
                </a>
                <div class="label text-c-1">
                    <span class="tw-heading-h3 fz-md-16 mb-8 d-b text-align-c">STREETMODE</span>
                    <span class="tw-heading-h4 fz-md-16 mb-8 d-b text-align-c">滑板系列</span>
                </div>                   
            </li>
            <li class="card col-3 col-md-2 mb-md-12">
                <a href="#">
                    <img src="/assets/images/product-4.png" alt="">
                </a>
                <div class="label text-c-1">
                    <span class="tw-heading-h3 fz-md-16 mb-8 d-b text-align-c">CHUNK DISTRICT</span>
                    <span class="tw-heading-h4 fz-md-16 mb-8 d-b text-align-c">厚底系列</span>
                </div>
            </li>
            <li class="card col-3 col-md-2 mb-md-12">
                <a href="#">
                    <img src="/assets/images/product-10.png" alt="">
                </a>
                <div class="label text-c-1">
                    <span class="tw-heading-h3 fz-md-16 mb-8 d-b text-align-c">COLLAB ZONE</span>
                    <span class="tw-heading-h4 fz-md-16 mb-8 d-b text-align-c">聯名企劃</span>
                </div>
            </li>
        </ul>
      </div>
    </div>
    <div class="style container">
        <div class="style-content py-64 pt-md-40">
            <h2 class="tw-heading-h2 mb-16">穿搭靈感</h2>
            <div class="card-wrapper">
                <div class="card card-1">
                    <img src="/assets/images/inspiration-1.png" alt="穿搭-1">
                </div>
                <div class="card card-2">
                    <img src="/assets/images/inspiration-2.png" alt="穿搭-2">
                </div>
                <div class="card card-3">
                    <img src="../assets/images/inspiration-3.png" alt="穿搭-3">
                </div>
                <div class="card card-4">
                    <img src="/assets/images/inspiration-4.png" alt="穿搭-4">
                </div>
                <div class="card card-5">
                    <img src="/assets/images/inspiration-5.png" alt="穿搭-5">
                </div>
                <div class="card card-6">
                    <img src="/assets/images/inspiration-6.png" alt="穿搭-6">
                </div>
                <div class="card card-7">
                    <img src="/assets/images/inspiration-7.png" alt="穿搭-7">
                </div>
                <div class="card card-8">
                    <img src="/assets/images/inspiration-8.png" alt="穿搭-8">
                </div>
                <div class="card card-9">
                    <img src="/assets/images/inspiration-9.png" alt="穿搭-9">
                </div>
                <div class="card card-10">
                    <img src="/assets/images/inspiration-10.png" alt="穿搭-10">
                </div>
                <div class="card card-11">
                    <img src="/assets/images/inspiration-11.png" alt="穿搭-11">
                </div>
                <div class="card card-12">
                    <img src="/assets/images/inspiration-12.png" alt="穿搭-12">
                </div>
            </div>
            <div class="card-wrapper-rwd d-n d-b-md">
                <div class="owl-carousel owl-theme">
                    <div class="card card-1 item">
                        <img src="/assets/images/inspiration-1.png" alt="鞋款-1">
                    </div>
                    <div class="card card-2 item">
                        <img src="/assets/images/inspiration-2.png" alt="鞋款-2">
                    </div>
                    <div class="card card-3 item">
                        <img src="/assets/images/inspiration-3.png" alt="鞋款-3">
                    </div>
                    <div class="card card-4 item">
                        <img src="/assets/images/inspiration-4.png" alt="鞋款-4">
                    </div>
                    <div class="card card-5 item">
                        <img src="/assets/images/inspiration-5.png" alt="鞋款-5">
                    </div>
                    <div class="card card-6 item">
                        <img src="/assets/images/inspiration-6.png" alt="鞋款-6">
                    </div>
                    <div class="card card-7 item">
                        <img src="/assets/images/inspiration-7.png" alt="鞋款-7">
                    </div>
                    <div class="card card-8 item">
                        <img src="/assets/images/inspiration-8.png" alt="鞋款-8">
                    </div>
                    <div class="card card-9 item">
                        <img src="/assets/images/inspiration-9.png" alt="鞋款-9">
                    </div>
                    <div class="card card-10 item">
                        <img src="/assets/images/inspiration-10.png" alt="鞋款-10">
                    </div>
                    <div class="card card-11 item">
                        <img src="/assets/images/inspiration-11.png" alt="鞋款-11">
                    </div>
                    <div class="card card-12 item">
                        <img src="/assets/images/inspiration-12.png" alt="鞋款-12">
                    </div>
                </div>
            </div>            
        </div>        
    </div>

    <%- include('./layout/call-to-action'); -%>
    <%- include('./layout/footer'); -%>


    <script type="module" src="../main.js"></script>
  </body>
</html>
