<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <%- include('./layout/cdn'); -%>
  </head>
  <body>
    <%- include('./layout/header-rwd'); -%>

    <div class="container">
        <main class="main product-list">
            <div class="breadcrumb mt-32 mb-24">
                <a href="index.html" class="item d-i-b tw-paragraph-md pr-12 text-c-6">首頁</a>
                <span class="tw-paragraph-md">/</span>
                <a href="#" class="item d-i-b tw-paragraph-md px-12 text-c-6">女孩</a>
                <span class="tw-paragraph-md">/</span>
                <a href="#" class="item d-i-b tw-paragraph-md pe-12 text-c-4">所有商品</a>
            </div>
            <h3 class="title tw-heading-h3 mb-36">女鞋</h3>
            <div class="content-menu d-f">
                <div class="menu col-2 d-n-md">
                    <ul class="menu-list">
                        <li class="lable">
                            <a href="products.html" class="tw-label-md py-12 text-c-4">所有商品</a>
                        </li>
                        <li class="lable">
                            <a href="products.html" class="tw-label-md py-12 text-c-4">慢跑鞋</a>
                        </li>
                        <li class="lable">
                            <a href="products.html" class="tw-label-md py-12 text-c-4">滑板鞋</a>
                        </li>
                        <li class="lable">
                            <a href="products.html" class="tw-label-md py-12 text-c-4">厚底鞋</a>
                        </li>
                        <li class="lable">
                            <a href="products.html" class="tw-label-md py-12 text-c-4">限定 / 聯名企劃</a>
                        </li>
                    </ul>
                </div>
                <div class="content col-10 col-md-4">
                    <ul class="product-list d-f f-w mx--12 mx-md--6">
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-1.png" alt="鞋款-1">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">PLATFORM 404</h6>
                            <a href="#" class="tw-label-md">NT$2,600</a>                            
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-2.png" alt="鞋款-2">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">PLATFORM 404</h6>
                            <a href="#" class="tw-label-md">NT$2,600</a>
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-3.png" alt="鞋款-3">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">VM001</h6>
                            <a href="#" class="tw-label-md">NT$2,600</a>
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-4.png" alt="鞋款-4">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">Melty Kiss</h6>
                            <a href="products-detail.html" class="tw-label-md">NT$4,000</a>
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-4.png" alt="鞋款-5">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">BOOMBLOK</h6>
                            <a href="products-detail.html" class="tw-label-md">NT$3,200</a>
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-5.png" alt="鞋款-6">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">BOOMBLOK</h6>
                            <a href="products-detail.html" class="tw-label-md">NT$3,200</a>
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-6.png" alt="鞋款-7">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">R:UNER</h6>
                            <a href="products-detail.html" class="tw-label-md">NT$4,000</a>
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-6.png" alt="鞋款-8">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">Sugar Snap</h6>
                            <a href="products-detail.html" class="tw-label-md">NT$4,000</a>
                        </li>
                        <li class="card col-4 col-md-2 mb-48">
                            <a href="products-detail.html" class="mb-12">
                                <img src="/assets/images/product-7.png" alt="鞋款-9">
                            </a>
                            <h6 class="tw-heading-h6 mb-4">Neofoam</h6>
                            <a href="products-detail.html" class="tw-label-md">NT$4,000</a>
                        </li>
                    </ul>
                    <ul class="pagination d-f j-c-s-c">
                        <li>
                            <a href="#" class="page text-c-4 icon-button chevron-left py-8 px-15">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="page page-one text-c-4 tw-label-md py-8 px-15">1</a>
                        </li>
                        <li>
                            <a href="#" class="page text-c-4 tw-label-md py-8 px-15">2</a>
                        </li>
                        <li>
                            <a href="#" class="page text-c-4 tw-label-md py-8 px-15">3</a>
                        </li>
                        <li>
                            <a href="#" class="page text-c-4 tw-label-md py-8 px-15">...</a>
                        </li>
                        <li>
                            <a href="#" class="page text-c-4 tw-label-md py-8 px-15">10</a>
                        </li>
                        <li>
                            <a href="#" class="page text-c-4 icon-button chevron-right py-8 px-15">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>

    <%- include('./layout/call-to-action'); -%>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
